/* header Section By Divyansh Sharma Starts here */
.smakaPage {
  z-index: 40;
  position: absolute;
  width: 100%;
}

.heroSection {
  background: url(https://user-images.githubusercontent.com/74038190/212750996-938b257b-266c-45a7-9af7-655341c0f58b.gif);
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: max-content;
  width: 80%;
  margin: auto;
  text-align: center;
  border: 4px solid #ff2e93df;
  box-shadow: 0 10px 50px rgba(156, 36, 144, 0.6);
  padding: 40px 20px;
  margin-top: 5rem;
}

.gfgLogo {
  width: 300px;
  margin-top: 10px;
}

.presents {
  font-family: 'Caveat', cursive;
  font-style: italic;
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
}
.heading_smackathonPage {
  text-transform: uppercase;
  font-size: 68px;
  text-align: center;
  color: white;
  margin: 30px 0;
  text-shadow: 0 0 10px #ff2edc, 0 0 20px #ff2edc, 0 0 40px #ff2edc,
    0 0 80px #ff2edc, 0 0 160px #ff2edc;
  animation: tubelight 5s linear;
}
.smackathon_logo {
  width: 370px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.application-btn {
  padding: 10px 20px;
  border: 2px solid white;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}

.application-btn a {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .gfgLogo {
    width: 180px;
  }

  .presents {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  .smackathon_logo {
    width: 200px;
  }
  .description {
    text-align: justify;
  }
}

.about {
  font-family: 'Poppins', sans-serif;
  width: 84%;
  margin: auto;
  margin-top: 50px;
  color: white;
  margin-bottom: 50px;
}

.heading {
  color: whitesmoke;
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 0;
}

.description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  padding: 10px;
  text-align: justify;
  color: #ffffffe6;
}

.extra {
  margin-top: 20px;
  font-family: 'SF Pro Display', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.timeline_heading {
  text-align: center;
  margin-bottom: 70px;
}
@media (max-width: 980px) {
  .heading_smackathonPage {
    font-size: 42px;
  }
  .timeline_heading {
    text-align: center;
    margin-left: 15px;
    padding-bottom: 30px;
    margin-bottom: 0px;
  }
}
@media (max-width: 450px) {
  .heading {
    font-size: 35px;
    margin: 0;
  }
  .description {
    text-align: justify;
    font-size: 16px;
  }
  .extra {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

/* header Section By Divyansh Sharma ends here */

/* Time line Section by Unnati starts here */

.N {
  color: #fff;
  margin: 10px 10px 0 10px;
}
.M {
  color: #fff;
}
body {
  background: #000000;
}
.timeline {
  position: relative;
  max-width: 78%;
  margin: 200px auto 0 auto;
}
.container_timeline {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.container_timeline:nth-child(1) {
  animation-delay: 0s;
}
.container_timeline:nth-child(2) {
  animation-delay: 1s;
}
.container_timeline:nth-child(3) {
  animation-delay: 2s;
}
.container_timeline:nth-child(4) {
  animation-delay: 3s;
}

.container_timeline:nth-child(5) {
  animation-delay: 4s;
}
.container_timeline:nth-child(6) {
  animation-delay: 5s;
}
.container_timeline:nth-child(7) {
  animation-delay: 6s;
}
.container_timeline:nth-child(8) {
  animation-delay: 7s;
}
.container_timeline:nth-child(9) {
  animation-delay: 8s;
}
.container_timeline:nth-child(10) {
  animation-delay: 9s;
}

.text-box {
  padding: 10px;
  background-color: #0b0315;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, #1961a9, #9b199b);
  border-image-slice: 1;
  box-shadow: 0 0 20px rgba(102, 36, 156, 0.8), 0 0 40px rgba(0, 119, 255, 0.8);
}

.text-box h1 {
  color: #ffffff;
}
.left_container {
  left: 0;
}
.left_container h1 {
  color: #fff;
}
.right_container {
  left: 50%;
}
.container_timeline img {
  position: absolute;
  width: 90px;
  border-radius: 50%;
  right: -39px;
  top: 32px;
  z-index: 10;
}
.right_container img {
  left: -47px;
}
.timeline::after {
  content: '';
  position: absolute;
  border-top: 4px dotted #000; /* 1px width and black color, adjust as needed */
  width: 100%; /* Adjust the width as needed */
  margin: 85px 0 83px; /* Add margin for spacing if needed */
  width: 2px;
  height: 100%;
  background: linear-gradient(
    30deg,
    #1961a9,
    #9b199b,
    #b7d49e,
    #a0d6e0,
    #311359,
    #a0d6e0,
    #9b199b
  );
  top: 105px;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 10s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 76%;
  }
}

.text-box h2 {
  font-weight: 600;
}
.text-box small {
  font-size: 16px;
  display: inline-block;
  margin: 10px;
}
.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ffffff;
  right: -15px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 100px auto;
    min-width: 90%;
  }
  .timeline::after {
    left: 31px;
  }
  .container_timeline {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
    text-align: center;
  }
  .text-box small {
    font-size: 14px;
    margin: 10px 0;
  }
  .right_container {
    left: 0;
  }
  .left_container img,
  .right_container img {
    left: -14px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
  .timeline::after {
    top: 70px;
  }
  @keyframes moveline {
    0% {
      height: 0;
    }
    100% {
      height: 78%;
    }
  }
}
/* Time line Section by Unnati ends here */

/* Venus Section  by unnati Starts here */

.heading_venue {
  text-transform: uppercase;
  font-size: 68px;
  text-align: center;
  color: white;
  margin-top: 150px;
  text-shadow: 0 0 10px #ff2edc, 0 0 20px #ff2edc, 0 0 40px #ff2edc,
    0 0 80px #ff2edc, 0 0 160px #ff2edc;
  animation: tubelight 5s linear;
}
.Map {
  width: max-content; /* Set the width to 80% */
  margin: 0 auto;
  padding: 40px;

  align-items: center;
  background-color: #0b0315;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 100px;
  position: relative;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, #1961a9, #9b199b);
  border-image-slice: 1;
  box-shadow: 0 0 20px rgba(102, 36, 156, 0.8), 0 0 40px rgba(0, 119, 255, 0.8);
}
.newdiv :hover {
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, #1961a9, #9b199b);
  border-image-slice: 1;
  box-shadow: 0 0 20px rgba(102, 36, 156, 0.8), 0 0 40px rgba(0, 119, 255, 0.8);
}

iframe {
  height: 550px;
  width: 550px;
}
.text-right {
  align-items: center;
}

.text-right img {
  width: 100px;
  height: 100px;
}
.text-right h3 {
  font-size: 28px;
  color: white;
  text-align: center;
}
.text-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.peaklogo1 {
  position: absolute;
  top: -193px;
  right: -2px;
  width: 300px;
  transform: rotate(1deg);
}

@media screen and (max-width: 750px) {
  .heading_venue {
    text-align: center;
    font-size: 42px;
    margin-top: 80px;
    position: relative;
    z-index: 10;
  }
  .Map {
    flex-direction: column;
    width: 90%;
    gap: 0;
    margin-top: 130px;
    padding: 10px;
  }
  .text-right {
    margin: 20px;
  }
  iframe {
    height: 300px;
    width: 300px;
  }
  .peaklogo1 {
    top: -193px;
    right: 10px;
  }
}

/* Venus Section  by unnati ends here */

/* Price pool section by katil starts here */

.prizepool_info {
  margin-top: 25px;
  color: aliceblue;
  text-align: center;
}

.pricepool_container {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-top: 40px; */
}
.card1 {
  width: 350px;
  /* background-color: rgba(7, 24, 46, 0.3); */
  overflow: hidden;
  margin: 20px;
  color: aliceblue;
  transform: translateY(20px);
  margin-top: 40px;
}
.card2 {
  width: 400px;
  /* background-color: rgba(7, 24, 46, 0.3); */

  overflow: hidden;
  margin: 20px;
  color: aliceblue;
}
.card3 {
  width: 350px;
  /* background-color: rgba(7, 24, 46, 0.3); */

  overflow: hidden;
  margin: 20px;
  color: aliceblue;
  margin-top: 40px;
  transform: translateY(20px);
}
.pricepool_content {
  text-align: center;
  padding: 20px;
}

.pricepool_content h3 {
  background: url('https://campusfestbucket.s3.us-west-1.amazonaws.com/Upsurge/images/sa.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 30px;
  color: rgb(227, 36, 109);
  font-family: cursive;
  font-weight: bolder;
  margin: 10px;
}
.pricepool_content h4 {
  margin-top: 30px;
  font-size: 54px;
  color: #fce863;
}
.price1 {
  margin-top: 10px;
  width: 100%;
}
.price2 {
  margin-top: 10px;
  width: 80%;
}
.price3 {
  margin-top: 20px;
  width: 79%;
  margin-bottom: 10px;
}

#PRIZE1 {
  font-size: 68px;
}

.card1:hover {
  transition: 0.5s;
}
.card2:hover {
  transition: 0.5s;
}
.card3:hover {
  transition: 0.5s;
}
.voucher {
  margin-top: 50px;
  color: aliceblue;
  text-align: center;
}

.pricepool_heading {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #2bc4f7cc, 0 0 20px #3acbfcba, 0 0 40px #3acbfcba,
    0 0 80px #3acbfcba, 0 0 160px #3acbfcba;
  margin-bottom: 60px;
}
.pricepoolh1 {
  margin: 10px 0px 30px 0px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #2bc4f7cc, 0 0 20px #3acbfcba, 0 0 40px #3acbfcba,
    0 0 80px #3acbfcba, 0 0 160px #3acbfcba;
  font-size: 52px;
}

@media (max-width: 900px) {
  .pricepool_heading {
    font-size: 22px;
    width: 90%;
    margin: auto;
  }

  .card1 {
    width: 100%;
    order: 2;
  }
  .card2 {
    order: 1;
    width: 100%;
  }
  .card3 {
    order: 3;
    width: 100%;
  }
  .pricepool_content {
    padding: 0 20px;
  }
  .pricepool_container {
    padding-bottom: 30px;
  }
}
/* Price pool section by katil ends here */

/* Goodies coantaier by hemanshu starts here */

.goodies_container {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: center;
}

.voucher_heading {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 38px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #2bc4f7cc, 0 0 20px #3acbfcba, 0 0 40px #3acbfcba,
    0 0 80px #3acbfcba, 0 0 160px #3acbfcba;
  margin: auto;
  margin-bottom: 30px;
}
.right_goodies {
  padding: 20px;
}
.goodies_img {
  width: 300px;
}

@media (max-width: 900px) {
  .goodies_container {
    width: 90%;
    flex-direction: column;
  }
  .voucher_heading {
    font-size: 26px;
    width: 80%;
  }
}

/* Goodies coantaier by hemanshu ends here  */

/* Model box */

.hidden_model {
  display: none;
}

.modal {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 50px;
  margin: auto;
}

.close-modal {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 50px;
  color: #262728;
  cursor: pointer;
  border: none;
  background: none;
}
.modal iframe {
  height: 600px;
}

@media (max-width: 600px) {
  .modal {
    padding: 30px;
  }
  .close-modal {
    top: -8px;
    right: 5px;
  }

  .modal iframe {
    height: 510px;
  }
}

/* background for paragraph by Hemanshu  start*/

.bg_para {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 10px;
  border: 0;
  background: rgba(5, 5, 22, 0.6);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
}

.bg_para::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.bg_para,
.bg_para::after {
  box-sizing: border-box;
}

.bg_para:active {
  --border-width: 5px;
}

.bg_para {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 10px;
  border: 0;
  background: rgba(5, 5, 22, 0.6);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
}

.bg_para::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.bg_para,
.bg_para::after {
  box-sizing: border-box;
}

.bg_para:active {
  --border-width: 5px;
}

/* background for paragraph by Hemanshu ends */

/* rules and guildline by  Hemanshu starts here */
.rules_container {
  width: 84%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rules_heading {
  margin-top: 120px;
  font-size: 46px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #2bc4f7cc, 0 0 20px #3acbfcba, 0 0 40px #3acbfcba,
    0 0 80px #3acbfcba, 0 0 160px #3acbfcba;
  margin-bottom: 10px;
}
.rules_subheading {
  font-size: 26px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #2bc4f7cc, 0 0 20px #3acbfcba, 0 0 40px #3acbfcba,
    0 0 80px #3acbfcba, 0 0 160px #3acbfcba;
  margin-bottom: 40px;
}

.rules_container ul {
  width: 82%;
  margin: auto;
  padding: 20px;
}
.rules_container li {
  margin: 20px;
  line-height: 24px;
}
.goodies_para {
  max-width: 300px;
}
@media (max-width: 800px) {
  .rules_heading {
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .rules_subheading {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .rules_container ul {
    width: 100%;
  }
}
/* rules and guildline by  Hemanshu ends here */

/* Assesment start */

.assgn_container {
  width: 75%;
  margin: auto;
}

.assgn_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
}
.assessment_heading {
  margin-bottom: 50px;
}

.assgn_vector {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.assgn_up {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.assgn_down {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.assgn_title {
  text-align: center;
  font-size: 23px;
  padding-left: 20px;
  max-width: 300px;
}

@media (max-width: 800px) {
  .assgn_up {
    flex-direction: column;
  }
  .assgn_down {
    flex-direction: column;
  }

  .assgn_vector {
    width: 80px;
    height: 80px;
  }
  .assgn_container {
    width: 80%;
    margin: auto;
  }
  .assgn_title {
    text-align: center;
    font-size: 16px;
    padding-left: 20px;
  }

  .peak2 {
    height: 225px;
  }
}
/* Assesment end */

/* smackathon footer */
.footer_smackathon {
  background-color: rgb(8, 4, 24);
  /* overflow: hidden; */
  color: white;
  border-radius: 12px;
  padding: 20px 5px;
  position: relative;
  z-index: 1;
  transition: all 0.25s;
  background: linear-gradient(
    180deg,
    rgba(11, 3, 21, 0.833) 5.8%,
    rgb(0, 0, 0) 73.2%
  );
  margin-top: 120px;
  /* backdrop-filter: blur(10px); */
}

.innerFooter_smackathon {
  flex-direction: row;
  width: 90%;
  margin: auto;
  gap: 10px;
  align-items: flex-start;
}

.logos_All {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.links_All {
  width: 30%;
}

.links_smackathon a {
  text-align: left;
  padding: 5px;
  font-size: 16px;
}

.follow_All {
  width: 30%;
}

.social_smackathon {
  flex-direction: column;
  width: 100%;
}

.followus_smackathon {
  margin-bottom: 20px;
}

.social_links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.address_contact_Smackathon {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact_details {
  display: flex;
  gap: 15px;
  text-align: start;
}

.address_smackathon {
  margin-bottom: 10px;
}

.copyRight_container_smackathon {
  width: 80%;
  margin: auto;
  line-height: 18px;
}

@media (max-width: 600px) {
  .innerFooter_smackathon {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }

  .logos_All {
    width: 70%;
  }

  .links_All {
    width: 70%;
    margin-bottom: 5px;
  }

  .links_smackathon a {
    text-align: center;
  }

  .follow_All {
    width: 70%;
  }

  .social_smackathon h3 {
    font-size: 26px;
  }

  .social_links {
    gap: 50px;
  }

  .address_smackathon {
    margin-bottom: 25px;
  }

  .address_smackathon h3 {
    font-size: 23px;
    margin-bottom: 10px;
  }

  .address_smackathon p {
    line-height: 19px;
    font-size: 16px;
  }

  .contact_smackathon h3 {
    margin-bottom: 8px;
    font-size: 22px;
  }

  .contact_smackathon p {
    font-size: 17px;
  }

  .upsurge_logo_smackathon {
    width: 200px;
  }

  .links_smackathon a {
    font-size: 18px;
  }

  .contact_details {
    text-align: center;
  }
}
/* footer ends here */
