@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=IBM+Plex+Mono:wght@500&family=Open+Sans:wght@300&family=Poppins:wght@500&display=swap');

:root {
  --gradient-angle: 0deg;
  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: #f50cd6;
  --clr-4: #170bf4;
}
.inset_border {
  padding: 8px;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: 12px;
  transform: translate(-10%, 0%);
}
.container {
  font-size: 20px;
  transform: translate(0%, 0%);
  width: 100%;
  /* height: 80vh; */
  color: #555;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.container:hover {
  box-shadow: 0 0 20px rgb(255, 0, 0), 0 0 40px #fa02e5;
}

.content {
  background: url('https://user-images.githubusercontent.com/74038190/212750996-938b257b-266c-45a7-9af7-655341c0f58b.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.651);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.presentedBy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0 0;
}

.sb {
  margin: 0px 0px 10px 0px;
  color: white;
  font-family: 'Caveat', cursive;
  font-style: italic;
}

.geeksLogo {
  height: 60px;
}
.smackthonLogo {
  height: 120px;
}
.pricepool {
  height: 140px;
}
.content p {
  text-align: center;
  margin: 20px auto;
  max-width: 80%;
  color: white;
  font-size: 18px;
  font-style: italic;
}

/* Create a div which will completely overlap both the curtains 
which has the background
    background: url(/src/COMPONENTS/Neon\ Background\ -\ Made\ with\ PosterMyWall.jpg);
on hover the  background image will fade out    */

@media (max-width: 1400px) {
  .container {
    margin: auto;
  }
  .inset_border {
    transform: translate(0%, 0%);
  }
}
@media (max-width: 1000px) {
  .presentedBy h3 {
    font-size: 18px;
  }
  .content h2 {
    font-size: 34px;
  }
  .content p {
    font-size: 15px;
  }
  .presentedBy {
    padding: 20px 0 0 0;
  }
  .geeksLogo {
    height: 40px;
  }
  .pricepool {
    height: 100px;
  }
}

/* cool btn */

.regBtn {
  cursor: pointer;
  background: transparent;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  outline: none;
  border: 2px solid #fa02e5;
  margin: 40px;
  width: 220px;
  height: 60px;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
  transition: 0.45s;
  transition-delay: 0s;
}

.regBtn:hover {
  transition-delay: 1.5s;
  color: #000;
  box-shadow: 0 0 10px #fa02e5, 0 0 20px #fa02e5, 0 0 40px #fa02e5,
    0 0 80px #fa02e5, 0 0 100px #fa02e5;
}

.regBtn span {
  position: relative;
  z-index: 100;
}

.regBtn::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #fa02e5;
  box-shadow: 5px -8px 0 #fa02e5, 5px 8px 0 #fa02e5;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.regBtn:hover::before {
  width: 60%;
  height: 100%;
  /* right: -2px; */
  left: -2px;
  box-shadow: 5px 0 0 #fa02e5, 5px 0 0 #fa02e5;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

.regBtn::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #fa02e5;
  box-shadow: -5px -8px 0 #fa02e5, -5px 8px 0 #fa02e5;
  transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.regBtn:hover::after {
  width: 60%;
  height: 102%;
  right: -2px;
  box-shadow: -5px 0 0 #fa02e5, -5px 0 0 #fa02e5;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

.link {
  text-decoration: none;
}
