:root {
  --clr-1: #3c00ff;
  --clr-2: #7904ff;
  --clr-3: #f50cd6;
  --clr-4: #170bf4;
  --clr-5: #2282ff;
}

.footer {
  /* height: 100%; */
  padding: 100px;
  background-color: rgb(8, 4, 24);
  /* overflow: hidden; */
  color: white;
  border-radius: 12px;
  padding: 20px 5px;
  position: relative;
  z-index: 1;
  transition: all 0.25s;
}

.footer::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: conic-gradient(
    from 45deg at center,
    var(--clr-1) 0%,
    var(--clr-2) 25%,
    var(--clr-3) 50%,
    var(--clr-4) 75%,
    var(--clr-5) 100%
  );
  filter: blur(20px);
  z-index: -1;
  opacity: 0.6;
  border-radius: 12px;
}

.footer:hover {
  box-shadow: 0 0 20px rgb(255, 0, 0, 0.7), 0 0 40px rgb(250, 2, 229, 0.7);
}

.innerFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upsurge_logo {
  width: 160px;
  padding-bottom: 1rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 2rem;
  margin-right: 2rem; */
}

.links a {
  color: white;
  width: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  padding: 10px 10px;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 10px;
}

.acm {
  padding-right: 5px;
  width: 100px;
}

.cosmos {
  padding-left: 5px;
  width: 100px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  margin-bottom: 20px;
}

.social h3 {
  font-size: 20px;
}

.social a {
  color: #fff;
  font-size: 30px;
}

.social i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.social i:hover {
  color: #f50cd6;
}

.address_contact {
  display: flex;
  width: 82%;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 10px;
}

.address h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.address p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 16px;
}

.contact h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.contact p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 16px;
}

.extra_link {
  margin-top: 1rem;
}
.extra_link a {
  font-size: 20px;
}

.copyright {
  justify-content: flex-end;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  margin-top: 2rem;
  text-align: center;
}

.privacy_footer {
  color: #27ffe7;
  margin-right: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}

.copyRight_container {
  width: 90%;
  margin: auto;
}

@media (max-width: 660px) {
  .footer {
    width: 100vw;
    margin: 0;
  }

  .flex-col_mob {
    flex-direction: column;
    text-align: center;
  }

  .contact_details_home_mob {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 660px) and (max-width: 950px) {
  .links a {
    font-size: 20px;
  }

  .sponsor_heading {
    font-size: 20px;
  }

  .extra_link a {
    font-size: 16px;
  }
}
