canvas {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
body {
  /* background: url('./assets/road.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  background: rgb(11, 3, 21);
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --dark-bg: rgba(4, 7, 25, 0.5);
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  position: absolute;
  z-index: 40;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
}

blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: 200px;
}

section {
  position: relative;
  grid-column: 2 / 8;
  padding: 4px;
  /* background: var(--dark-bg); */
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 350px;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: 250px;
}

footer {
  padding: 0;
  grid-column: 2 / span 4;
  font-size: 22px;
}

blockquote p {
  color: rgb(255, 7, 214);
  background: #2a0158;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 5 / 13;
  /* background: var(--dark-bg); */
  height: 80vh;
}

@media (max-width: 800px) {
  main {
    padding: 0;
  }

  section {
    grid-column: 2 / 12;
    margin-bottom: 240px;
  }
  blockquote {
    grid-column: 2 / span 12;
    margin-bottom: 240px;
  }
  header {
    grid-column: 1 / span 13;
    font-size: 24px;
    margin-bottom: 240px;
  }
  .left {
    grid-column: 1 / 13;
    margin-bottom: 240px;
  }

  footer {
    margin-top: 30rem;
    grid-column: 1 / span 13;
  }
}
